# Don't use quotes( " and ' )

API_ID= 27503848
API_HASH= 8751355231:AAEdnc7Gcj5SgcrG0C3P8lxCf_ZBT3SgJjM
SESSION= AgGjrOgAgsDnSqJPf8AsAEvYktOQyG3WT1C6xdEEh5BgvaNEPVN5trc6olf0w6mZXnSbMJW0TGG73lhdPu22hnWqQds-ZVbriXgRsuaf1ftJidg-P9BVQeF3TvalSOm5XcpZ5urJN-qqbtA1KbTjNUDT-TMrMN00XTWuRFgEzLze-naW3pqNh9MVr6FHn6RV5L502lNslVHSqR8IZFbb1Im5OoaBL_Ekh_5LGfAP9icbrkBTEHHr3M12NUj9hK4frieOZGJWDzh-ucjWJLpNxFW_xWUml1lupnXu8iXYjECTK7NvJcL8lYvZ8NjVSTAtpEFpPO2FBhyQrjGewsZd3WYXmQ_GGwAAAAG6h-BKAA


# [OPTIONAL]

REDIS_URI=
REDIS_PASSWORD=
LOG_CHANNEL=
BOT_TOKEN=
